@{
    ViewBag.Title = "AddTable";
}

<h2>AddTable</h2>


<input type="text" size="15" id="tbName"/>
<br>
<input type="text" size="15" id="colName" />
<br>
<input type="text" size="15" id="colType" />
<br>
<input type="checkbox" id="isPk"/>
<label for="isPk">Primary Key</label>
<br>
<input type="checkbox" id="isNotNull" />
<label for="isNull">Not Null</label>
<br>
<input type="checkbox" id="isUnique" />
<label for="isUnique">Unique</label>
<br>
<button onclick="addTable();">Add Table</button>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    function addTable() {
        jQuery.support.cors = true;

        var col = {
            Title: $('#colName').val(),
            Type: $('#colType').val(),
            IsPrimaryKey: $('#isPk').is(':checked'),
            IsNull: $('#isNotNull').is(':checked'),
            IsUnique: $('#isUnique').is(':checked')
        }

        var colArray = new Array();
        colArray[0] = col;

        var table = {
            Name: $('#tbName').val(),
            Columns: colArray
        }

        $.ajax({
            url: '/api/sqlddl/addtable',
            type: 'POST',
            data: JSON.stringify(table),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

</script>